# Banco de Dados (Neon Postgres)
DATABASE_URL=postgresql://user:password@host/database

# GitHub OAuth
GITHUB_ID=your_github_app_id
GITHUB_SECRET=your_github_app_secret

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your_nextauth_secret_key

# Vercel
VERCEL_ENV=development
